* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --login-card: #ffffff;
    --buttons: #00aa00;
    --background: #1000a5;
  }
  
  body {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
  }